* {
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #333;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNY0Em3bsJtcfTDOpBUKiVVEoaL1gveADDCw&s);
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: all 3s linear;
  transition-timing-function: ease; */
}
.container:hover {
  background-color: #333;
  background-position: 0;
}
h2 span {
  font-weight: 900;
}
h2 {
  top: 180px;
  position: relative;
  font-weight: 500;
  color: black;
  text-align: center;
  transition: all 0.3s linear;
  z-index: 1;
}
.paragraph {
  opacity: 0;
  position: relative;
  top: 150px;
  color: white;
  padding-top: 150px;
  text-align: center;
  transition: all 0.3s linear;
  z-index: 2;
}
.container::after {
  opacity: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, rgb(95, 39, 185));
  transition: all 0.3s linear;
}
.container:hover .paragraph {
  opacity: 100%;
  top: 100px;
}
.container:hover h2 {
  top: 150px;
  color: white;
}
.container:hover::after {
  opacity: 100%;
}
